* {
  box-sizing: border-box;
  margin: 0; padding: 0;
  font-family: 'Segoe UI', sans-serif; font-size: 16px;
}
:root{
  --Cor-Primaria: #820D0D;
  --Cor-Secundaria: #1C3D30;
  --Branco: #fff;
}

body {
  background-color:var(--Branco);
  color: var(--Cor-Secundaria);
}

header {
  background-color: var(--Cor-Secundaria);
  display: flex;
  justify-content: center;
  padding: 1rem 4vw;
}

header img {
  height: 2.5rem;
}

.login-container {
  padding: 1.25rem;
  display: flex;
  flex-direction: column; align-items: center;
}

.login-box {
  background-color: var(--Cor-Primaria); color: var(--Branco);;
  padding: 1.875rem; margin-bottom: 1.875rem;
  border-radius: 15px;
  box-shadow: 10px 15px 0 var(--Cor-Secundaria);
  width: 100%; max-width: 380px;
}

.login-header {
    display: inline-block;
    position: relative;
    z-index: -2;
    background-color: var(--Cor-Primaria); color: var(--Branco);;
    font-size: 22px; font-weight: bold;
    padding: 0.38rem 1.50rem; margin-left: -3.44rem;
    border-radius: 16px 16px 0px 0px;
}

.login-form label {
  display: block;
  margin-top: 0.94rem;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.31rem;
  border-radius: 10px; border: none;
  font-size: 1rem;
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px; top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1rem;
  color: black;
}

.forgot-password {
  display: block;
  text-align: right;
  margin-top: 0.50rem;
  font-size: 1rem;
  color: var(--Branco);;
  text-decoration: underline;
}

.btn-login {
  margin-top: 1.56rem; padding: 0.88rem;
  width: 100%;
  background-color: var(--Cor-Secundaria); color: var(--Branco);;
  border: none; border-radius: 16px;
  font-size: 1rem; font-weight: bold;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #2e5a4a;
}

.btn-register {
  border: 2px solid var(--Cor-Secundaria);
  padding: 0.88rem 1.25rem;
  text-decoration: none;
  color: var(--Cor-Secundaria);;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s ease;
}

.btn-register:hover {
  background-color: var(--Cor-Secundaria);;
  color: var(--Branco);;
}

aside{
    display: none;
}

@media screen and (min-width: 993px){
  header{
    padding: 1rem 4vw;
  }

  form{
    width: 100%;
  }
  main{
    width: 40vw;
  }
  main a{
      display: none;
  }

  aside{
    display: flex;
    flex-direction: column;
    width: 30vw;
  }
  aside h2{
    margin-bottom: 0.63rem;
  }
  aside p{
    margin-bottom: 1.88rem;
  }
  aside a{
    text-align: center;
    margin-bottom: 1.88rem;
  }

  .desktop-container{
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-evenly;
    padding: 3.75rem;
  }
}